## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Bredasdorp,ZA,60.39,overcast clouds,-34.5322,20.0403,NaN
1,6,Mapua,NZ,67.01,clear sky,-41.2500,173.1000,NaN
2,9,Port Alfred,ZA,60.19,clear sky,-33.5906,26.8910,NaN
3,10,Bluff,NZ,61.81,broken clouds,-46.6000,168.3333,NaN
4,12,Mataura,NZ,61.48,few clouds,-46.1927,168.8643,NaN
5,13,Payson,US,60.39,clear sky,40.0444,-111.7321,NaN
6,15,Busselton,AU,61.97,overcast clouds,-33.6500,115.3333,NaN
7,18,Ponta Do Sol,PT,65.12,scattered clouds,32.6667,-17.1000,NaN
8,23,Cidreira,BR,67.77,broken clouds,-30.1811,-50.2056,NaN
9,27,Dorchester,US,69.89,overcast clouds,33.1002,-80.3831,NaN

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat","Lng"]]
max_temp = vacation_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

# Cities:
# Waiuku
# Mapua
# Bluff
# Mataura

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Waiuku"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Waiuku"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Mapua"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bluff"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mataura"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (-37.25, 174.75), End: (-37.25, 174.75)
Stop 1: (-41.25, 173.1), Stop 2: (-46.6, 168.3333), Stop 3: (-46.1927, 168.8643)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)

# Display the figure
fig

In [8]:
# 8. To create a marker layer map between the four cities
#  Combine the four city DataFrames into one DataFrame using the concat() function
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,70,Waiuku,NZ,64.69,light rain,-37.2500,174.7500,NaN
1,6,Mapua,NZ,67.01,clear sky,-41.2500,173.1000,NaN
2,10,Bluff,NZ,61.81,broken clouds,-46.6000,168.3333,NaN
3,12,Mataura,NZ,61.48,few clouds,-46.1927,168.8643,NaN
4,70,Waiuku,NZ,64.69,light rain,-37.2500,174.7500,NaN

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map
locations = itinerary_df[["Lat","Lng"]]
max_temp = itinerary_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig